@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Oscar Santos</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="profile-card">
                <div class="profile-card-nav__img" style="margin-top: 120px;">
                    <img src="https://raw.githubusercontent.com/OscarSantosMu/portfolio/main/src/wwwroot/img/me/profile/1-5580-re-square.jpg" alt="profile card">
                </div>
                <div class="profile-card-social">
                    <a href="https://twitter.com/oscarsantosmu" target="_blank" rel="noopener">
                        <img src="https://img.shields.io/twitter/follow/oscarsantosmu?label=@@oscarsantosmu&style=social" alt="Twitter" />
                    </a>
                    <a href="https://github.com/oscarsantosmu" target="_blank" rel="noopener" style="margin-left: 10px;">
                        <img src="https://img.shields.io/github/followers/oscarsantosmu.svg?label=GitHub&style=social" alt="GitHub">
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="speaking" Match="NavLinkMatch.All">
                <span class="oi oi-microphone" aria-hidden="true"></span> Speaking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-fork" aria-hidden="true"></span> Portfolio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="oi oi-code" aria-hidden="true"></span> Skills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="articles">
                <span class="oi oi-pencil" aria-hidden="true"></span> Articles
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
