@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<div class="post-header-cover" data-behavior="1" style="background-image: url(https://raw.githubusercontent.com/OscarSantosMu/portfolio/main/src/wwwroot/img/me/me-2-to-1/coloquio_leon_blend.jpg);">

    <div style="padding-top: 0; padding: 0;">

        <div class="profile-card">
            @* <div class="profile-card__img" style="margin-top: 40px;">
                <img src="https://raw.githubusercontent.com/OscarSantosMu/portfolio/main/src/wwwroot/img/me/profile/1-5526-re-square.jpg" alt="profile card">
            </div> *@

            <div class="profile-card__cnt">
                <div class="profile-card__name" style="color: white; font-size: 34px; margin-top: 40px; padding-top: 120px"><p class="typewriter-text">Hello, I'm Oscar!</p></div>

                <div class="profile-card-home__txt">
                    <p>I am a passionate engineer, building intelligent solutions for tomorrow's challenges.</p>
                    Transforming data chaos into organized magic ✨, transforming ideas into functional solutions 💡 and turning coffee into code ☕.
                    <br><br>🌍 <a href="https://mvp.microsoft.com/en-US/MVP/profile/01b5a6aa-3c6e-41f5-b180-68fbf4b39217" target="_blank" rel="noopener" style="text-decoration:underline;">Microsoft Most Valuable Professional</a> | 👨🏻‍🎓 Former Gold Microsoft Learn Student Ambassador |🐸 Co-leader and co-founder of <a href="https://linktr.ee/azuretechfrogs" target="_blank" rel="noopener" style="text-decoration:underline;">Azure Tech Frogs</a> 
                    | 📀 Windows Insider | ☁️ Microsoft, AWS & GCP Certified | 📝 <a href="https://www.c-sharpcorner.com/members/oscar-santos3" target="_blank" rel="noopener" style="text-decoration:underline;">Technical Writer</a> | 🎤 <a href="speaking" style="text-decoration:underline;">Public Speaker</a> | 🆘 Mentor at Hackathons.
                </div>

                <div class="profile-card-social">
                    <a href="https://linkedin.com/in/oscarsantosmu" class="profile-card-social__item linkedin" target="_blank">
                        <span class="icon-font">
                               
                               <i class="sidebar-button-icon fa fa-md fa-linkedin" style="color:white"></i>
                            </span>
                    </a>

                    <a href="https://twitter.com/oscarsantosmu" class="profile-card-social__item twitter" target="_blank">
                        <span class="icon-font">
                         
                         <i class="sidebar-button-icon fa fa-md fa-twitter" style="color:white"></i>
                      </span>
                    </a>

                    <a href="https://github.com/oscarsantosmu" class="profile-card-social__item github" target="_blank">
                        <span class="icon-font">
                                
                                <i class="sidebar-button-icon fa fa-md fa-github" style="color:white"></i>
                            </span>
                    </a>

                    <a href="https://www.c-sharpcorner.com/members/oscar-santos3" class="profile-card-social__item medium" target="_blank">
                        <span class="icon-font">
                        
                        <i class="fa-regular fa fa-md fa-newspaper" style="color:white"></i>
                    </span>
                    </a>

                    <a href="https://sessionize.com/oscarsantosmu" class="profile-card-social__item sessionize" target="_blank">
                        <span class="icon-font">
                        
                        <i class="fa-solid fa-microphone-lines" style="color:white"></i>
                    </span>
                    </a>

                    <a href="https://stackoverflow.com/users/21808280/oscar-santos" class="profile-card-social__item stackoverflow" target="_blank">
                        <span class="icon-font">
                        
                        <i class="fa-brands fa-stack-overflow" style="color:white"></i>
                    </span>
                    </a>

                </div>

                
            </div>
        </div>
    </div>
</div>

<Highlights></Highlights>