@page "/skills"
@using Portfolio.ViewModels
@inject IResumeViewModel _resumeViewModel

<PageTitle>Skills</PageTitle>

<div class="skills">

<div class="w-100">
    <h2 class="mb-5">My Skills</h2>

    <h3 class="mb-3">Languages</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/spain-2.png" alt="Spanish" title="Spanish"/>
            <p class="text-muted text-md-center">Native</p>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/usa.png" alt="English" title="English"/>
            <p class="text-muted text-md-center">B2</p>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/france.png" alt="French" title="French"/>
            <p class="text-muted text-md-center">B2</p>
        </li>

    </ul>

    <h3 class="mb-3">General Purpose Programming Languages</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/python.png" alt="Python" title="Python" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/c-plus-plus-logo.png" alt="C++" title="C++" />
        </li>
        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/c-sharp-logo.png" alt="C#" title="C#" />
        </li>

    </ul>

    <h3 class="mb-3">Domain Specific Languages (DSLs)</h3>

    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/matlab.png" alt="MATLAB" title="MATLAB"/>
        </li>

        <li class="list-inline-item">
            <img width="100" height="100" src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/100/external-maple-leaves-icongeek26-outline-colour-icongeek26.png" alt="Maple Software" title="Maple Software"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/dotty/96/000000/smartphone-cpu.png" alt="VHDL" title="VHDL" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/css3.png" alt="CSS3" title="CSS3" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/ultraviolet/96/000000/database.png" alt="SQL" title="SQL" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/microsoft-sql-server.png" alt="Microsoft SQL Server" title="Microsoft SQL Server" />
        </li>

    </ul>

    <h4 class="mb-3">Markup languages</h4>

    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/html-5.png" alt="HTML5" title="HTML5" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/metro/96/000000/markdown.png" alt="Markdown" title="Markdown" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/latex.png" alt="LaTeX" title="LaTeX"/>
        </li>

    </ul>

    <h3 class="mb-3">Cloud Service Providers</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/azure-1.png" alt="Microsoft Azure" title="Microsoft Azure"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/google-cloud.png" alt="Google Cloud Platform" title="Google Cloud Platform"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/amazon-web-services.png" alt="AWS" title="AWS" />
        </li>
        
        <li class="list-inline-item">
            <img src="https://img.icons8.com/ios-filled/96/0069FF/digitalocean.png" alt="DigitalOcean" title="DigitalOcean"/>
        </li>

    </ul>

    <h3 class="mb-3">DevOps</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/docker.png" alt="Docker" title="Docker" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/000000/terraform.png" alt="Terraform" title="Terraform" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/prometheus-app.png" alt="Prometheus" title="Prometheus"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/grafana.png" alt="Grafana" title="Grafana"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/git.png" alt="Git" title="Git" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/96/000000/external-development-experience-through-the-native-integrations-of-azure-with-visual-studio-logo-color-tal-revivo.png" alt="Azure DevOps" title="Azure DevOps" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluent/96/000000/github.png" alt="GitHub" title="GitHub" />
        </li>

        <li class="list-inline-item">
            <img src="https://github.githubassets.com/images/modules/site/features/actions-icon-actions.svg" alt="GitHub" title="GitHub Actions" width="200%" height="200%"/>
        </li>

    </ul>

    <h3 class="mb-3">Artificial Intelligence</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/tensorflow.png" alt="TensorFlow" title="TensorFlow"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/jupyter.png" alt="Jupyter Notebooks" title="Jupyter Notebooks"/>
        </li>

        <li class="list-inline-item">
            <img width="96" height="96" src="https://img.icons8.com/color/96/nvidia.png" alt="NVIDIA CUDA" title="NVIDIA CUDA"/>
        </li>
        
        <li class="list-inline-item">
            <img src="https://img.icons8.com/ios-glyphs/96/chatgpt.png" alt="Open AI APIs" title="Open AI APIs"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/azure-1.png" alt="Azure Cognitive Services" title="Azure Cognitive Services"/>
        </li>

    </ul>

    <h3 class="mb-3">Operating Systems</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/windows-10.png" alt="Windows" title="Windows"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/linux--v1.png" alt="Linux" title="Linux"/>
        </li>

    </ul>


    <h3 class="mb-3">Hardware &amp; Software</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/wired/96/000000/robot.png" alt="RoboDK" title="RoboDK" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/solidworks.png" alt="Solidworks" title="Solidworks" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/autodesk-autocad.png" alt="AutoCAD" title="AutoCAD" />
        </li>

        <li class="list-inline-item">
            <img width="96" height="96" src="https://img.icons8.com/fluency/96/arduino.png" alt="Arduino" title="Arduino"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/carbon-copy/100/000000/motherboard.png" alt="ST Núcleo-L476RG" title="ST Núcleo-L476RG" />
        </li>

         <li class="list-inline-item">
            <img width="96" height="96" src="https://ni.scene7.com/is/image/ni/Multisim_BG?$ni-icon-pm$" alt="MultiSim" title="MultiSim" />
        </li>
        
        <li class="list-inline-item">
            <img width="96" height="96" src="https://ni.scene7.com/is/image/ni/LabVIEW?$ni-icon-pm$" alt="LabVIEW" title="LabVIEW" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/robot-2.png" alt="Robotics" title="Robotics" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/super-nintendo-entertainment-system.png" alt="PLC" title="PLC" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/dotty/96/000000/smartphone-cpu.png" alt="FPGA" title="FPGA" />
        </li>

        <li class="list-inline-item">
            @* https://www.mastercam.com/privacy/mastercam-trademarks/ *@
            <img width="192" height="96" src="https://www.mastercam.com/wp-content/uploads/2019/03/Mastercam-Black-Red_RGB-01.jpg" alt="Mastercam" title="Mastercam" />
        </li>

    </ul>

    <h3 class="mb-3">Tools</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/96/000000/external-net-or-dot-net-a-software-framework-developed-by-microsoft-logo-shadow-tal-revivo.png" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/cotton/96/000000/system-task.png" alt="Machine Learning" title="Machine Learning" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/office/96/000000/bot.png" alt="ChatBots" title="ChatBots" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/dusk/96/000000/light-automation.png" alt="IoT" title="IoT" />
        </li>

        <li class="list-inline-item">
            <img width="100" height="100" src="https://img.icons8.com/external-flaticons-flat-flat-icons/100/external-api-no-code-flaticons-flat-flat-icons-2.png" alt="Creation and Consumption of APIs" title="Creation and Consumption of APIs"/>
        </li>

        <li class="list-inline-item">
            <img width="96" height="96" src="https://img.icons8.com/color/96/elasticsearch.png" alt="Elasticsearch" title="Elasticsearch"/>
        </li>

        <li class="list-inline-item">
            <img width="100" height="100" src="https://img.icons8.com/external-solidglyph-m-oki-orlando/100/external-regular-expressions-programming-solid-solidglyph-m-oki-orlando.png" alt="RegEx" title="RegEx"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/visual-studio--v2.png" alt="Visual Studio" title="Visual Studio" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/000000/visual-studio-code-2019.png" alt="VSCode" title="VSCode" />
        </li>

        <li class="list-inline-item">
            <img width="96" height="96" src="https://img.icons8.com/fluency/96/sublime-text.png" alt="Sublime Text" title="Sublime Text"/>
        </li>

        <li class="list-inline-item">
            <img width="96" height="96" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/96/external-postman-is-the-only-complete-api-development-environment-logo-color-tal-revivo.png" alt="POSTMAN" title="POSTMAN"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/power-bi.png" alt="Power BI" title="Power BI" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/office-365.png" alt="Office 365" title="Office 365" />
        </li>

        <li class="list-inline-item">
            <img width="100" height="100" src="https://img.icons8.com/ios/100/airtable.png" alt="Airtable" title="Airtable"/>
        </li>
        
        <li class="list-inline-item">
            <img width="100" height="100" src="https://img.icons8.com/fluency/100/anaconda--v2.png" alt="Anaconda" title="Anaconda">
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/bootstrap.png" alt="Bootstrap" title="Bootstrap"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/000000/figma--v1.png" alt="Figma" title="Figma" />
        </li>        

    </ul>

    <h3 class="mb-3">Engineering Tools</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img src="https://img.icons8.com/officel/96/000000/soldering-iron.png" alt="Electronic soldering" title="Electronic soldering" />
        </li>

       <li class="list-inline-item">
            <img src="https://img.icons8.com/cute-clipart/100/000000/3d-printer.png" alt="3D printing" title="3D printing" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/dusk/96/000000/cnc-machine.png" alt="CNC" title="CNC" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/96/external-laser-3d-printing-flaticons-flat-flat-icons-6.png" alt="Laser engraving" title="Laser engraving"/>
        </li>

        <li class="list-inline-item">
            <img width="100" height="100" src="https://img.icons8.com/cotton/100/drone-flight--v1.png" alt="Drone flight" title="Drone flight"/>
        </li>
        
    </ul>

    <h3 class="mb-3">DevRel</h3>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item">
            <img width="96" height="96" src="https://images.saasworthy.com/tr:w-178,h-0/streamyard_4389_logo_1629292556_fhafp.jpg" alt="StreamYard" title="StreamYard" />
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/ios-filled/96/obs-studio.png" alt="OBS Studio" title="OBS Studio"/>
        </li>

       <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/microsoft-clipchamp.png" alt="Microsoft Clipchamp" title="Microsoft Clipchamp"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/fluency/96/canva.png" alt="Canva" title="Canva"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/color/96/youtube-studio.png" alt="Youtube Studio" title="Youtube Studio"/>
        </li>

        <li class="list-inline-item">
            <img width="96" height="96" src="https://img.icons8.com/fluency/96/meta.png" alt="Meta Business Suite" title="Meta Business Suite"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/96/external-eventbrite-a-us-based-event-management-and-ticketing-website-logo-color-tal-revivo.png" alt="Eventbrite" title="Eventbrite"/>
        </li>

        <li class="list-inline-item">
            <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/96/external-bitly-a-url-shortening-service-and-a-link-management-platform-logo-shadow-tal-revivo.png" alt="Bitly" title="Bitly"/>
        </li>

    </ul>

    @* <div class="subheading mb-3">Extra skills / knowledge</div>
    <ul class="mb-0">
        <li>Pneumatic &amp; Hydraulics Simulation: FluidSIM</li>
        <li>Electronic Design &amp; Simulation: MultiSim &amp; Proteus</li>
        <li>Data Analysis: Power BI &amp; Google Data Studio</li>
        <li>Digital electronics: Quartus &amp; Active HDL</li>
        <li>Python packages: Keras, Scikit-learn, NumPy, Sympy, Matplotlib, Pandas, Flask, BeautifulSoup, Requests, etc.</li>
        <li>MicroPython</li>
        <li>Deep learning</li>
        <li>Web scraping</li>
        <li>Web: Blazor, Entity Framework</li>
    </ul> *@
</div>

<p class="text-md-right">Icons by <a href="https://icons8.com/" target="_blank">Icons8</a></p>
</div>

@* <div class="skills">
  <h2>Skills</h2>

  @if (_resumeViewModel != null && _resumeViewModel.Skills != null)
  {
    foreach (var skillModel in _resumeViewModel.Skills)
    {
        <Skill data=@skillModel></Skill>
    }
  }
  else
  {
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Content Not Found</h4>
      <p>Sorry, we could not load this section due to an error or unexisting content.</p>
    </div>
  }
</div> *@

<div class="certifications">
    <h2>Certifications</h2>

    @if (_resumeViewModel != null && _resumeViewModel.Certifications != null)
    {
        @* <div class="w-100"> *@
        <ul class="list-inline ">
            @foreach (var certificationModel in _resumeViewModel.Certifications)
            {
                
                <Certification data=@certificationModel></Certification>
                
            }
        </ul>
        @* </div> *@
    }
    else
    {
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Content Not Found</h4>
        <p>Sorry, we could not load this section due to an error or unexisting content.</p>
      </div>
    }
</div>

@code {
    protected override async Task OnInitializedAsync() => await _resumeViewModel.GetSkills();

}
